.quote-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  
  .delete-btn {
    margin-left: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }
  